img {
  width: 100%;
}

* {
  all: unset;

  display: revert;

  cursor: revert;

  box-sizing: border-box;
}

@font-face {
  font-family: "anna";
  src: url("fonts/orbitron-.woff2") format("woff2");
}

@font-face {
  font-family: "work";
  src: url("fonts/worksans-variablefont_wght-webfont.woff2") format("woff2");
}

h1 {
  font-family: anna;
  font-size: 3rem;
}

h2 {
  /*font-size: 30px; */
  font-size: 1.875rem;
  margin-bottom: 10px;
  margin-top: 40px;
  line-height: 1.1;
  font-family: work;
}
h3 {
  font-family: work;
  font-size: 1.3rem;
  line-height: 1.1;
}

h4 {
  font-family: work;
  font-size: 1rem;
}

* {
  margin: 0;
  padding-inline: 15px;
}

.box {
  width: 100px;
  padding: 10px;
}

body {
  font-family: fonts;
  background-color: whitesmoke;
  min-height: 100vh;
}

main {
  margin-block: 3rem;
}

img {
  width: 100%;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

p {
  color: black;
}

footer {
  color: burlywood;
  text-align: center;
  padding-block: 1rem;
  background: burlywood;
  position: sticky;
  top: 100vh;
}

nav ul {
  justify-content: space-evenly;
  align-items: flex-start;
  display: flex;
  list-style: none;
  margin-left: 10px;
  padding: 30px;
  gap: 10px;
  color: black;
}

header nav li {
  margin: 0.02rem;
}

nav .content a {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
