img {
  width: 50%;
}

* {
  all: unset;

  display: revert;

  cursor: revert;

  /* box-sizing: border-box; */
}

* {
  margin: 0;
  padding-inline: 15px;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  color: black;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 2.8rem;
  margin-bottom: 10px;
  margin-top: 40px;
  line-height: 1.1;
  color: black;
}
h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
  line-height: 1.1;
  color: black;
}

h4 {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  color: black;
}

.box {
  width: 100px;
  padding: 10px;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: whitesmoke;
  min-height: 100vh;
}

main {
  margin-block: 3rem;
}

p {
  color: black;
  font-family: "Courier New", Courier, monospace;
}

footer {
  color: burlywood;
  text-align: center;
  padding-block: 1rem;
  background: burlywood;
  position: sticky;
  top: 100vh;
}

nav ul {
  justify-content: space-evenly;
  align-items: flex-start;
  display: flex;
  list-style: none;
  margin-left: 10px;
  padding: 30px;
  gap: 10px;
  color: black;
}

header nav li {
  margin: 0.02rem;
}

nav .content a {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
